<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>


<table class="border-collapse table-fixed w-full text-sm" th:fragment="customer_tables">
    <thead>
    <tr>
        <th class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
            Song</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pr-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
            Artist</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pr-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
            email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <td ><a th:attr="hx-get=@{/customer/{id}(id=${customer.id})}" hx-target="#edit_customer" th:text="'edit'+${customer.id}">edit</a></td>
        <td th:text="${customer.name}" ></td>
        <td th:text="${customer.email}" ></td>
    </tr>
    </tbody>
</table>

</body>
</html>
