<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, content)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Title</title>
    <script src="/webjars/htmx.org/1.9.10/dist/htmx.js"></script>
    <!--    <link rel="stylesheet" href="/webjars/picocss__pico/1.5.10/css/pico.css"/>-->
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body class="dark:bg-gray-900 dark:text-slate-400">
<div class="mt-2 text-xl bg-blue-900" th:text="'Hello!'"></div>


<main id="mainContent" class="w-3/4 " th:insert="${content}">


</main>
</body>
</html>
